
p {

     color: blue;	
     
     font-style: italic;
     
}


footer {

     background-color:#eaeaea ; 

}

#logo {

    widows: 40px;
    height: 40px;
}

   
   span {

      color: red;
   }    



h3 {

   color: blue;
}

h1 {

     color: blue;
}

footer p {

   color: blue;

}



